body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu-open {
  margin-left: 280px !important;
}

.container {
  margin: 25px 25px 25px 300px !important;
  width: calc(100% - 350px) !important;
}

.container-collapsed {
  margin-left: 25px !important;
  width: calc(100% - 25px) !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: #000000 !important;
}

.active div {
  color: #337ab7 !important;
}

thead th {
  font-size: 22px !important;
}

.sidebar {
  background-color: #262f3d !important;
}
.sidebar .menu-item {
  border-bottom: 1px solid #353434 !important;
  color: white !important;
}

.header {
  background-color: #262f3d !important;
}

.center {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
