body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu-open {
  margin-left: 280px !important;
}

.container {
  margin-left: 300px !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: #000000 !important;
}
.active div {
  color: #337ab7 !important;
}

thead th {
  font-size: 24px !important;
}
