body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu-open {
  margin-left: 280px !important;
}

.container {
  margin: 0px 0px 0px 256px !important;
  padding-top: 25px;
  width: calc(100% - 256px) !important;
  height: calc(100vh - 60px) !important;
  background-color: rgba(115, 115, 117, 0.05) !important;
}

.container-collapsed {
  margin-left: 0px !important;
  width: 100% !important;
}
.title {
  width: 80%;
  margin: auto !important;
  padding-bottom: 25px;
}
.sub-container {
  width: 80%;
  margin: auto !important;
  padding: 50px;
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: #000000 !important;
}

.active div {
  color: #337ab7 !important;
}

thead th {
  font-size: 22px !important;
}

.sidebar {
  background-color: #262f3d !important;
}
.sidebar .menu-item {
  border-bottom: 1px solid #353434 !important;
  color: white !important;
}

.header {
  background-color: #262f3d !important;
}

.center {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
